<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626389782090-i9vcn3pslgl1krimmb02vm1ppo5856kd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626389782090-i9vcn3pslgl1krimmb02vm1ppo5856kd</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ6n2Ex18RPtT1QYY00RpU9Ios9iktG1c</string>
	<key>GCM_SENDER_ID</key>
	<string>626389782090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestoreOperation</string>
	<key>PROJECT_ID</key>
	<string>fir-operation-6fa10</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-operation-6fa10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626389782090:ios:04604c9e75a434b48ba0b3</string>
</dict>
</plist>